*{
    margin: 0;
    padding: 0;
    background-color: #b0a48c9e;
}

h1{
    background-color: #64c254;
    text-align:center ;
}
#main{
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
}
button{
    display: flex ;
    justify-content: space-around;
    /* background-color: #c92020; */
    margin-top: 5rem;
}

#Rock{
    height: 10rem;
    width: 10rem;
    background-color: #1b8da3;
    position: relative;
    bottom: 5rem;
    border-radius: 50%;
}

#Paper{
    height: 10rem;
    width: 10rem;
    background-color: #1b8da3;
    position: relative;
    bottom: 5rem;
    border-radius: 50%;
}

#Scissor{
    height: 10rem;
    width: 10rem;
    background-color: #1b8da3;
    position: relative;
    bottom: 5rem;
    border-radius: 50%;
}

.scissor:hover{
    cursor: pointer;
    box-shadow: 10px,10px,10px#c42b2b;
}

.ans{
    height: 4rem;
    width: 26rem;
    margin-left: 29rem;
    margin-top: 8rem;
    border-radius: 2rem;
    text-align: center;
    padding-top: 1rem;
    background-color: #2ba998;
    font-size: 23px;
}
.scoreman{
     height: 5rem;
    width: 9rem;
    position: relative;
    top: -6rem;
    left: 10rem;
    text-align: center;
   font-size: 23px;

}

.man{
    height: 3rem;
    width: 9rem;
    background-color: #4bb991;
    position: relative;
    top: -9rem;
    left: 10rem;
    text-align: center;
    padding-top: 1rem;
    border-radius: 12%;
    
}

.scorecomputer{
    height: 3rem;
    width: 9rem;
    position: relative;
    top: -15.5rem;
    left: 74%;
    text-align: center;
    font-size: 23px;
}
.Computer{
    height: 3rem;
    width: 9rem;
    background-color: #6986ce;
    position: relative;
    top: -16.5rem;
    left: 74%;
    text-align: center;
    padding-top: 1rem;
    border-radius: 12%;
}